.loginPageWrapper {
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.loginPageForm{
    background-color: rgba(127, 255, 212, 0.24);
    padding: 20px;
    width: 250px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;

}

.input {
    padding: 3px;
    border-radius: 2px;
}

.inputSubmit {

}

